.books-index-wrapper {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    display: grid;
    padding: 20px;
    background-color: #b79d94;
    align-self: stretch;
    justify-items: center;
    grid-gap: 1.5rem;
    height: fit-content;
    -webkit-align-items: baseline;
    align-items: center;
}

.books-index-item {
    border: 10px solid rgba(103, 105, 124, .4);
    border-radius: 5px;
}

.book-shelf {
    overflow-y: scroll;
}

.graph {
    background-color: rgb(90, 151, 151);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.graph svg {
   
}

.graph-label {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
}