#site-title {
  margin-left: 15px;
  font-size: 28px;
  justify-self: start;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, auto)
}

#title-letter {
  font-size: 28px;
}

#site-title:hover {
  text-decoration: none;
}

#site-title img {
  width: 41px;
  margin-right: 10px;
  filter: grayscale(1);
}

#site-title h3 {
  font-family: "Arbutus Slab"
}

.nav-content{
  width: 100%;
  min-height: 38px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, auto);
  justify-items: end; 
  grid-column-gap: .75rem;
  background-color: #253d5b;
  color: white;
  padding-bottom: 12px;
}

.nav-search-bar {
  justify-self: start;
  display: grid;
  grid-template-columns: auto auto;
}

.nav-search-bar img {
  width: 41px;
  margin-right: 10px;
  filter: grayscale(1);
}

.nav-search-bar .query {
  padding: 0
}

.nav-content .login-signup-buttons {
  margin-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  align-content: center;
  margin-top: 15px
}

.nav-content .logout-button {
  margin-right: 15px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  align-content: center
}

.login-signup-buttons > *, .logout-button {
  border-radius: 5px;
  padding: 7px;
  text-align: center;
  margin: 0 8px;
  background-color: #969696;
  color: white;
}

.nav-content a:hover {
  text-decoration: underline;
}

.logout-button{
  justify-self: end;
}

.logout-button button {
  background: none;
  border: none;
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: white;
}

.logout-button button:hover {
  text-decoration: underline;
  cursor: pointer
}

.nav-search-bar {
  background: none;
}