#site-title {
  font-family: "Arbutus Slab";
  margin-left: 15px;
  font-size: 20px;
  justify-self: start
}

.nav-content{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, auto);
  justify-items: end; 
  grid-column-gap: .75rem;
  padding: 15px 0;
  background-color: #253d5b;
  color: white;
}

.nav-search-bar {
  justify-self: center;
}

.nav-content > div {
  margin-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr
}

.logout-button{
  justify-self: end;
}