/* .recs-wrapper {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    display: grid;
    padding-bottom: 30px;
    align-self: stretch;
    justify-items: center;
    grid-gap: 1.5rem;
    height: fit-content;
    width: 100vw;
    -webkit-align-items: baseline;
    align-items: center;
} */

.recs-wrapper{
    background: rgba(255, 255, 255, 0.5);
    /* background: rgba(209, 88, 88, 0.13); */
    padding-bottom: 30px;
}

.recs-container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    overflow-x: scroll;
    border: 1px solid rgba(0, 0, 0, 0.425);
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 10px
}

.recs-container > div {
    display: flex;
    flex-direction: row;
    align-items: baseline
}

.recs-container .books-index-item-grid {
    margin: 0 20px;
}