.books-index-wrapper {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid black;
}

.books-index-item {
    border: 1px solid black;
    margin: 20px 10px;
    display: grid;
}

.books-index-item img {
    z-index: -1;
}