.book-show{
    position: absolute;
    z-index: 2;

    height: 100%;
    background: rgba(26,26,26,0.35);

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
}

.book-show-content{
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    padding: 5px;
    background: rgb(248, 248, 248);
    border-radius: 10px;

    display: grid;
    align-items: center;
    grid-template-rows: 1fr, 2fr 1fr;
    grid-template-rows: 0.1fr, 2fr 1fr;
}

.book-show-content i{
    grid-row: 1;
    justify-self: end;
    padding-right: 3vw;
    font-size: 35px;
    cursor: pointer;
}

.book-show-head{
    grid-row: 2;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.book-show-head img{
    grid-column: 1;

    margin-left: 25px;
    height: 120%;
}

.book-show-description {
    grid-row: 3;
}