.book-show-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
}

.book-show-content{
    width: 60%;
    position: relative;
    top: 10vh;
    height: 70vh;
    margin: 0 auto;
    padding: 30px;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr, 2fr 1fr;
    font-family: "Source Sans Pro"
}

.book-show-content h2{
    font-size: 20px;
}

.book-show-content h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.795);
}

.book-show-headline{
    display: grid;
    grid-template-columns: 15fr 1fr;

    align-self: center;
    justify-items: start;
}  

.book-show-headline i{
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    padding-right: 3vw;
    font-size: 35px;
    cursor: pointer;
}

.book-show-head{
    grid-row: 2;

    display: grid;
    align-items: center;
    /* justify-items: start; */
    grid-template-columns: 1fr 1fr;
}

.book-show-header{
    justify-self: start;
}

.book-show-head img{
    grid-column: 1;
    justify-self: center;
    height: 120%;
    height: 250px;
}

.book-show-description {
    grid-row: 3;
}