.searchbar{
    background: rgb(37, 61, 91);
    padding: 20px 20px;
    padding-top: 30px;
    border-radius: 20px;
}

.searchbar i{
    color: rgb(183, 157, 148);
}

.query-form-input{
    border: none;
    background: none;
    outline: none;

    margin: 5px;
    border-radius: 3px;
    color: rgb(183, 157, 148);
    font-size: 35px;
}

.query-form-submit{
    display: none;
}